// Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #f2f2f2;
$dark-grey: darken(#f2f2f2, 5%);

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

p,
h2 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
  box-shadow: 0px 3px 5px 0px #c9c9c9;
  &__logo {
    width: 15rem;
  }
  position: relative;
}

.location {
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 20px;
  &__text {
    margin-left: 1rem;
  }
}

.intro {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 3rem 1.3rem;
  &__heading {
    margin-bottom: 1rem;
  }
  &__text {
    font-weight: 100;
    margin-bottom: 1.5rem;
  }
}

.button {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  background: linear-gradient(
    171deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 73%
  );

  font-weight: 400;
  box-shadow: 0px 2px 4px 4px #d1d1d1;
}
