// Colors
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey: #f2f2f2;
$dark-grey: darken(#f2f2f2, 5%);
$coal: #353535;

// Breakpoints
$tablet: "768px";
$desktop: "992px";

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

// Utilities
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadow() {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

a {
  text-decoration: none;
  &:visited {
    color: unset;
  }
}

body {
  display: flex;
  flex-direction: column;
}

p,
h2,
h3 {
  margin: 0;
}

// Navbar
.nav {
  display: flex;
  justify-content: center;
  padding: 1.5rem 1rem;
  box-shadow: 0px 3px 5px 0px #c9c9c9;
  &__logo {
    width: 15rem;
  }
  position: relative;
}

// Bloc Localisation
.location {
  background-color: $dark-grey;
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  &__text {
    margin-left: 1rem;
  }
}

// Hero Banner
.intro {
  background-color: $grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 3rem 1.3rem;
  &__heading {
    margin-bottom: 1rem;
  }
  &__text {
    font-weight: 100;
    margin-bottom: 1.5rem;
  }
}

.button {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  transition: all 0.3s;
  background: linear-gradient(171deg, $secondary, $primary);
  font-weight: 400;
  box-shadow: 0px 2px 4px 4px #d1d1d1;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    box-shadow: 0px 2px 4px 4px #b4b4b4;
  }
}

// Bloc Fonctionnement
.process {
  padding: 3rem 1.3rem;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    max-width: 50%;
    margin: auto;
  }

  h2 {
    margin-bottom: 2rem;
  }

  &__capsule {
    display: flex;
    align-items: center;
    background: $grey;
    border-radius: 30px;
    padding: 1.5rem 3rem;
    font-weight: 600;
    @include shadow();
    position: relative;
    margin-bottom: 1.3rem;

    i {
      margin-right: 1rem;
      font-size: 20px;
    }

    &__dot {
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 30px;
      background: $primary;
      position: absolute;
      left: -6px;
      color: white;
      font-size: 14px;
      @include flex();
      padding: 0.8rem;
    }

    &-bg-purple {
      background: lighten($color: $primary, $amount: 35%);
      i {
        color: $primary;
      }
    }
  }
}

// Bloc Restaurants
.grey-container {
  background: $grey;
}
.restaurants {
  padding: 3rem 1.3rem;
  display: flex;
  flex-direction: column;

  .restaurants__container {
    @media (min-width: $tablet) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  h2 {
    margin-bottom: 2rem;
  }

  &__card {
    position: relative;
    margin-bottom: 1.3rem;
    background: white;
    height: 15rem;
    border-radius: 20px;
    @include shadow();

    @media (min-width: $tablet) {
      width: 20rem;
    }

    &--new {
      background: rgb(154, 226, 208);
      color: rgb(21, 147, 115);
      font-size: 14px;
      font-weight: 600;
      position: absolute;
      right: 15px;
      top: 15px;
      padding: 0.3rem 0.6rem;
      border-radius: 2px;
    }

    img {
      object-fit: cover;
      border-radius: 20px 20px 0 0;
      width: 100%;
      height: 70%;
    }

    &--content {
      margin-top: -0.3rem;
      display: flex;
      height: 30%;
      justify-content: space-between;
      align-items: center;
      padding: 0 1rem;
      div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      h3 {
        margin-bottom: 0.3rem;
      }
      span {
        font-weight: 100;
      }
    }
  }
}

// Heart button
.fa-heart {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.4s;
  &:hover {
    color: $primary;
    font-weight: 900;
  }
}

footer {
  padding: 1.5rem;
  background-color: $coal;
  color: white;
  font-weight: 100;

  .footer__container {
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
      margin: 0 auto;
      text-align: center;
    }
  }

  img {
    @media (min-width: $tablet) {
      margin: 0 auto;
    }
    width: 6rem;
    object-fit: cover;
    filter: brightness(0) invert(1);
    margin-bottom: 0.5rem;
  }
  div {
    margin-top: 0.5rem;
  }
  i {
    margin-right: 0.5rem;
    width: 1rem;
  }
  .footer__links {
    margin-top: 0.5rem;
    color: white;
  }
}
