* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p,
h2,
h3 {
  margin: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 1rem;
  -webkit-box-shadow: 0px 3px 5px 0px #c9c9c9;
          box-shadow: 0px 3px 5px 0px #c9c9c9;
  position: relative;
}

.nav__logo {
  width: 15rem;
}

.location {
  background-color: #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.location__text {
  margin-left: 1rem;
}

.intro {
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 1.3rem;
}

.intro__heading {
  margin-bottom: 1rem;
}

.intro__text {
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.button {
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: linear-gradient(171deg, #ff79da, #9356dc);
  font-weight: 400;
  -webkit-box-shadow: 0px 2px 4px 4px #d1d1d1;
          box-shadow: 0px 2px 4px 4px #d1d1d1;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 2px 4px 4px #b4b4b4;
          box-shadow: 0px 2px 4px 4px #b4b4b4;
}

.process {
  padding: 3rem 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .process {
    max-width: 50%;
    margin: auto;
  }
}

.process h2 {
  margin-bottom: 2rem;
}

.process__capsule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  border-radius: 30px;
  padding: 1.5rem 3rem;
  font-weight: 600;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  position: relative;
  margin-bottom: 1.3rem;
}

.process__capsule i {
  margin-right: 1rem;
  font-size: 20px;
}

.process__capsule__dot {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 30px;
  background: #9356dc;
  position: absolute;
  left: -6px;
  color: white;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem;
}

.process__capsule-bg-purple {
  background: #f2eafb;
}

.process__capsule-bg-purple i {
  color: #9356dc;
}

.grey-container {
  background: #f2f2f2;
}

.restaurants {
  padding: 3rem 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .restaurants .restaurants__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants h2 {
  margin-bottom: 2rem;
}

.restaurants__card {
  position: relative;
  margin-bottom: 1.3rem;
  background: white;
  height: 15rem;
  border-radius: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media (min-width: 768px) {
  .restaurants__card {
    width: 20rem;
  }
}

.restaurants__card--new {
  background: #9ae2d0;
  color: #159373;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.3rem 0.6rem;
  border-radius: 2px;
}

.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 70%;
}

.restaurants__card--content {
  margin-top: -0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.restaurants__card--content div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants__card--content h3 {
  margin-bottom: 0.3rem;
}

.restaurants__card--content span {
  font-weight: 100;
}

.fa-heart {
  font-size: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.fa-heart:hover {
  color: #9356dc;
  font-weight: 900;
}

footer {
  padding: 1.5rem;
  background-color: #353535;
  color: white;
  font-weight: 100;
}

footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  footer .footer__container {
    margin: 0 auto;
    text-align: center;
  }
}

footer img {
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  footer img {
    margin: 0 auto;
  }
}

footer div {
  margin-top: 0.5rem;
}

footer i {
  margin-right: 0.5rem;
  width: 1rem;
}

footer .footer__links {
  margin-top: 0.5rem;
  color: white;
}
/*# sourceMappingURL=style.css.map */